@import 'variables';

aside {
  border: 1px solid rgba(black, .05);
  border-right: none;
  border-left: none;
}

.toc-wrapper {
  .logo {
    margin: 2em auto 0;
  }
}

.content {
  // the default slate word-break for code blocks in "break-all" with hyphens,
  //  but that actually breaks up snake_case_variables like this:
  //
  // snake_c-
  // ase_variables
  //
  // which is pretty undesirable IMO, so let's reset that here
  code {
    hyphens: none;
    word-break: unset;
  }
}

@media (max-width: $phone-width) {
  .toc-wrapper .lang-selector {
    display: none;
    color: red;
  }

  .highlight, .highlight .w {
    background-color: rgba(black, .8); // $code-bg
  }

  .content {
    pre, blockquote {
      background-color: rgba(black, .8); // $code-bg
    }

    blockquote {
      &>p {
        background-color: rgba(black, .5); // $code-annotation-bg
      }
    }
  }

}
